img {
  cursor: pointer;
}
*.center {
  align-content: center;
}

body{ 
  background-color: #01FF70
  ;
}


.oxanium{
  font-family: 'Oxanium';

}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


.end {
  align-items: flex-end;
}